.imageProd{
    width: 300px;
    height: 280px;
}

.fundoTema1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-image: url(../acess/astro.png);
    padding: 1%;
}

.tema1{
    margin: 1%;
    display: flex;
    background-color: var(--fundo1);
    width: 40%;
    height: 400px;
    margin: 3%;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--fundo7);
}

.fundoTema2{
    margin: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-image: url(../acess/medieval.png);
    padding: 1%;
}

.tema2{
    display: flex;
    background-color: var(--fundo1);
    width: 40%;
    height: 400px;
    margin: 3%;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--fundo7);
}

.fundoTema3{
    margin: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-image: url(../acess/cyber.png);
    padding: 1%;
}

.tema3{
    display: flex;
    background-color: var(--fundo1);
    width: 40%;
    height: 400px;
    margin: 3%;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--fundo7);
}

.ingred{
    color: var(--colortxt7);
}

.btnComprar{
    margin: 1%;
    border: 2px solid;
    border-color:  var(--borda2) ;
    width: 100%;
    background-color: var(--fundo6);
    color: var(--colortxt2);
    font-size: 130%;
    cursor: pointer;
    border-radius: 8px;
}