/* Aqui funciona como palheta de cores para não alterar todas as cores do site um por um */
:root{
    --fundo1: #010D26;
    --fundo2: #272727;
    --fundo3: #320240;
    --fundo4: #A429A6;
    --fundo5: #F230E5;
    --fundo6: #0396A6;
    --fundo7: #000000;
    --fundo8: #016874;
    --colortxt1: #000000;
    --colortxt2: #ffffff;
    --colortxt3: #010D26;
    --colortxt4: #320240;
    --colortxt5: #A429A6;
    --colortxt6: #F230E5;
    --colortxt7: #0396A6;
    --borda1: #016874;
    --borda2: #0396A6;
    --borda3: #010D26;
    --borda4: #272727;
    --borda5: #320240;
    --borda6: #A429A6;
    --borda7: #F230E5;
    --borda8: #000000;
    --comprar: #09ff00;
}

/* Estilização padrão do site  */
body{
    background-color: var(--fundo1);
    color: var(--colortxt2);
    font-family: 'Rajdhani', sans-serif;
}
/* Estilização do cabeçalho do site */
header{
    backdrop-filter:  blur(5px);
    display: inline-flex;
    justify-content: center;
    box-shadow: 0px 10px 10px #000;
    margin: 1%;
}

/* estiliza a area onde fica os botões de navegação */
.navega{
    display: inline-flex;
    margin: 1%;
    padding: 1%;

}

.nav{
    margin: 1%;
    padding: 1%;
}

/* botão de navegação */
.buttonNav{
    transition: 1s ;
    margin: 1%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 130%; 
}
.buttonNav:hover{
    transition: 1s ;
    color: #F230E5;
    font-size: 140%;
}

/* pra mostrar em qual pagina o usuário está */
.atual{
    transition: 1s ;
    color: #F230E5;
    text-decoration: underline;
}

/* moldando o tamanho do incone que fica na barra de navegação */
.icon{
    width: 10%;
}

/* para estilizar textos (foi usado para estilizar as boas vindas)*/
.destaque1{
    color: var(--colortxt6);
    font-size: 150%;
    text-shadow: 30px 0px 50px #000;
}
.destaque2{
    font-size: 90%;
    color: var(--colortxt7);
    text-shadow: 30px 0px 50px #000;
}
/* o nome é alto explicativo */
.descricao{
    font-size: 50%;
}

/* o nome é alto explicativo */
.bemVindo{

    text-shadow: 30px 0px 50px #000;
}

/* para moldar o contéudo dentro e entre as divs  */
.conteudo{
    width: 40%;
    height: 300px;
}

/* para tirar o estilo das listas */
li{
    list-style: none;
    
}

/* o nome é alto explicativo */
.titulo{
    transition: 1s;
    font-family: 'Orbitron', sans-serif
}
.titulo:hover{
    transition: 1s;
    color: var(--colortxt6);
}

/* para tirar o estilo dos link */
a{
    color: var(--colortxt2);
    text-decoration: none;
}

/* para estilizar as boas vindas do site */
.fundo1{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    background-image: url(/scr/acess/fundo1.png);
}

/* para estilizar o rodapé do site */
footer{
    box-shadow: 0px -10px 10px #000;
    backdrop-filter: blur(15px);
    padding: 1%;
    margin-top: 1% ;
    margin: 1%;
    width: 96%;
    display: inline-flex;
    justify-content: center;
    
}