

/* Estilização padrão do site  */
body{
    background-color: var(--fundo1);
    color: var(--colortxt2);
    font-family: 'Rajdhani', sans-serif;
}
/* Estilização do cabeçalho do site */
header{
    backdrop-filter:  blur(5px);
    display: inline-flex;
    justify-content: center;
    box-shadow: 0px 10px 10px #000;
    margin: 1%;
}

/* estiliza a area onde fica os botões de navegação */
.navega{
    display: inline-flex;
    margin: 1%;
    padding: 1%;

}

.nav{
    margin: 1%;
    padding: 1%;
}

/* botão de navegação */
.buttonNav{
    transition: 1s ;
    margin: 1%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 130%; 
}
.buttonNav:hover{
    transition: 1s ;
    color: #F230E5;
    font-size: 140%;
}

/* pra mostrar em qual pagina o usuário está */
.atual{
    transition: 1s ;
    color: #F230E5;
    text-decoration: underline;
}

/* moldando o tamanho do incone que fica na barra de navegação */
.icon{
    width: 10%;
}

/* para estilizar textos (foi usado para estilizar as boas vindas)*/
.destaque1{
    color: var(--colortxt6);
    font-size: 150%;
    text-shadow: 30px 0px 50px #000;
}
.destaque2{
    font-size: 90%;
    color: var(--colortxt7);
    text-shadow: 30px 0px 50px #000;
}
/* o nome é alto explicativo */
.descricao{
    font-size: 50%;
}

/* o nome é alto explicativo */
.bemVindo{

    text-shadow: 30px 0px 50px #000;
}

/* para moldar o contéudo dentro e entre as divs  */
.conteudo{
    width: 40%;
    height: 300px;
}

/* para tirar o estilo das listas */
li{
    list-style: none;
    
}

/* o nome é alto explicativo */
.titulo{
    transition: 1s;
    font-family: 'Orbitron', sans-serif
}
.titulo:hover{
    transition: 1s;
    color: var(--colortxt6);
}

/* para tirar o estilo dos link */
a{
    color: var(--colortxt2);
    text-decoration: none;
}



/* para estilizar o rodapé do site */
footer{
    box-shadow: 0px -10px 10px #000;
    backdrop-filter: blur(15px);
    padding: 1%;
    margin-top: 1% ;
    margin: 1%;
    width: 96%;
    display: inline-flex;
    justify-content: center;
    
}